<section class="container-fluid">    

    <div class="row">
      <h1 id="experiencia_titulo"><b>Experiencia</b></h1>
    </div>
    
    <div class="row" id="experiencia">
      <div class="col-3 container-fluid text-center">
          <img id="MediaMonks" class="MediaMonks img-fluid" src="assets\imagenes\Media.Monks_logo-GIF.gif">
      </div>
      <div class="col-9 container-fluid">
          <h2>Data.Monks</h2>
          <p>Trabajamos con la suite de herramientas de Google <b>-Gooogle Marketing Platforms-</b>
             <br> Desarrollamos <b>implementaciones y modelos de datos</b> para que nuestros clientas puedan disponer de la información que sus páginas webs y apps recolectan.<br>
             Los principales programas que usamos son Google Analytics, GA4, Firebase, Google Tag Manager, DataStudio y BigQuery
          </p>
      </div>    
      <div class="col-3 container-fluid">
          <img class="kantar img-fluid" src="assets\imagenes\kantar.png">
      </div>
      <div class="col-9 container-fluid">
          <h2>Kantar World Panel</h2>
          <p>Trabajamos con un <b>panel de hogares</b> y generamos presentación con foco en entender el <b>consumo masivo y las principales tendencias de mercado.</b><br>
              Desarrollamos Insights de valor para nuestros clientes y los acompañamos desde el contacto fluido.<br> Además de los análisis regulares, 
              buscamos entender sus preguntas de negocios y así proponer estudios y proyectos que mejoren la sinergia entre las empresas 
              y alcanzar sus objetivos de negocio.</p>
      </div>    
    </div>
    
    </section>