<section id="educacion" class="container-fluid">

    <div class="row">
        <h1 id="educacion_titulo"><b>Educación y Docencia</b></h1>
    </div>
  
    <div *ngFor="let item of educacion" class="row" id="educacion">
        <div class="col-md-4" class="container-fluid" class="text-center">
            <img id="uba" class="sociologia" [src]="item.foto" class="img-fluid">
        </div>
        <div class="col-md-6" class="container-fluid" class="text-center">
            <h2>{{item.experiencia}}</h2>
            <p> <b>{{item.periodo}}</b><br>
                {{item.titulo}}<br>
                {{item.detalle_1}}<br>
                {{item.detalle_2}}
            </p>
        </div>
    </div>
  </section>
