<section id="educacion" class="container-fluid">

    <div class="row">
        <h1 id="educacion_titulo"><b>Educación y Docencia</b></h1>
    </div>
  
    <div *ngFor="let item of educacion" class="row" id="educacion">
        <div class="col-3 container-fluid">
            <img id="uba" class="educacion_fotos img-fluid" [src]="item.foto">
        </div>
        <div class="col-9 container-fluid">
            <h2>{{item.experiencia}}</h2>
            <p> <b>{{item.periodo}}</b><br>
                {{item.titulo}}<br>
                {{item.detalle_1}}<br>
                {{item.detalle_2}}
            </p>
        </div>
    </div>
  </section>
