<section id="info_personal" class="container-fluid">

    <div class="row">
        <div class="col-4 container-fluid">
            <img class="foto_perfil img-fluid" [src]="persona.imagen_1">
            <h1 id="nombre"> {{persona.fullName}}</h1>
            <h2 id="ubicacion">{{persona.ubication}}</h2>
        </div>
        <div class="col-8 container-fluid">
            <h1 id="acerca_de">Acerca de</h1>
            <h6 id="acercaDe" type="button"> <b>{{persona.title_1}}</b>{{persona.skills_1}}</h6>
            <h6><strong>{{persona.title_2}}</strong>{{persona.skills_2}}</h6>
            <h6><b>{{persona.title_3}}</b>{{persona.skills_3}}</h6>
            <p>{{persona.aboutMe}}</p>
            <button class="btn btn-outline-primary" onclick="cambiarAcercaDe()">Editar</button>
        </div>
    </div>
  </section>