<section id="info_personal" class="container-fluid">

    <div class="row">
        <div class="col-md-4" class="container-fluid" class="text-center" class="center">
            <img class="foto_perfil" src="assets\imagenes\foto_perfil.jpg" class="text-center" class="img-fluid" class="center">
            <h1 id="nombre"> Martin Millonschik</h1>
            <h2 id="ubicacion">Buenos Aires - Argentina</h2>
        </div>
        <div class="col-md-6" class="text-center">
            <h1 id="acerca_de">Acerca de</h1>
            <h6 id="acercaDe" type="button"> <b>Front End:</b> End, HTML, CSS, JS, Typescritp</h6>
            <h6><strong>Data Science:</strong> Python, SQL, Power BI</h6>
            <h6><b>Google Cloud Platforms:</b> Analytics, GA4, Firebase, DataStudio, BigQuery</h6>
            <p> Soy sociólogo, trabajé en investigación de mercado y hace unos años que las transformaciones digitales y la generción continua de datos me resultan atrapantes. 
                Desde los apuntes abstractos de la facultad de sociales fui llegando a preguntas cada vez más concretas ¿cómo se crean las apps y los sitios web? ¿donde quedan guardados? ¿qué es un algoritmo? ¿por qué no me corre este script? 
                Del desarrollo de entornos digitales al modelado de datos y a las herramientas para interpretarlos siempre sigue ahi la misma pregunta ¿qué pueden los datos? </p>
            <button class="btn btn-outline-primary" onclick="cambiarAcercaDe()">Editar</button>
        </div>
    </div>
  </section>